# Premiers pas en python

In [1]:
import operator
import pandas as pd

## 1. Données numeriques
- Entiers: int
- Décimaux: float

In [2]:
nbJoueurs = 15
nbJoueurs

15

In [3]:
nbJoueurs + 8

23

In [4]:
nbTotal = nbJoueurs * 2
nbTotal

30

In [5]:
nbTotal / 2

15.0

In [6]:
nbJoueurs = 7
nbJoueurs

7

In [7]:
type(nbJoueurs)

int

In [8]:
pourcentagePossession = 43.5
pourcentagePossession

43.5

In [9]:
type(pourcentagePossession)

float

In [10]:
miniDistance = 2.456E-12
miniDistance

2.456e-12

In [11]:
12 * 3.4

40.8

In [12]:
miniDistance

2.456e-12

## 2. Booléens et tests
- comparaison d'égalité: ==   !=
- comparaisons d'ordre: <  <=  >  >=
- combinaison logique: and  or  not

In [13]:
nbJoueurs > 10

False

In [14]:
nbJoueurs <= 7

True

In [15]:
nbJoueurs == 7

True

In [16]:
nbJoueurs != 7

False

In [17]:
nbJoueurs1 = 23
nbJoueurs2 = 22
nb_joueurs3 = 23

In [18]:
nbJoueurs1 == 23 and nbJoueurs2 == 23

False

In [19]:
club = "Castres Olympique"

In [20]:
club.islower()

False

In [21]:
not club.islower()

True

## 3. Texte
type: str

NB: faire une fonction acronyme, Montpellier Hérault Rugby => MHR

In [22]:
club1 = "Castres Olympique"
club2 = 'Montpellier Hérault Rugby'

In [23]:
club1

'Castres Olympique'

In [24]:
print(club1.lower())
print(club1.upper())
print(club1.startswith('Castres'))
print('Hérault' in club1)
print('Hérault' in club2)

castres olympique
CASTRES OLYMPIQUE
True
False
True

In [25]:
print(club1, club2, club1.lower(), "Rugby")

Castres Olympique Montpellier Hérault Rugby castres olympique Rugby

## 4. Sequence: listes, tuples, ensembles ; Dictionnaires
### 4.1 Listes

In [26]:
clubs = [ 
    "Castres Olympique",
    "Montpellier Hérault Rugby",
    "Union Bordeaux Bègles",
    "US Carcassonne",
    "RC Suresnes",
    "Stade Toulousain",
    "Section Paloise"
]
clubs

['Castres Olympique',
 'Montpellier Hérault Rugby',
 'Union Bordeaux Bègles',
 'US Carcassonne',
 'RC Suresnes',
 'Stade Toulousain',
 'Section Paloise']

In [27]:
type(clubs)

list

In [28]:
print("Nb de clubs :", len(clubs))
print("Nb de lettres du club 1 :", len(club1))

Nb de clubs : 7
Nb de lettres du club 1 : 17

In [29]:
# club à la position 0 dans la liste
print("1er club :", clubs[0])
print("dernier club :", clubs[6])
print("dernier club :", clubs[len(clubs) - 1])
print("dernier club :", clubs[-1])

1er club : Castres Olympique
dernier club : Section Paloise
dernier club : Section Paloise
dernier club : Section Paloise

In [30]:
# slices: indice min inclus à indice max exclus 
print("3 premiers:", clubs[0:3])
print("3 premiers:", clubs[:3])
print("3 derniers:", clubs[-3:])

3 premiers: ['Castres Olympique', 'Montpellier Hérault Rugby', 'Union Bordeaux Bègles']
3 premiers: ['Castres Olympique', 'Montpellier Hérault Rugby', 'Union Bordeaux Bègles']
3 derniers: ['RC Suresnes', 'Stade Toulousain', 'Section Paloise']

In [31]:
# slices étranges
print("Deborder par le haut:", clubs[4:15])
print("Hors liste:", clubs[12:15])
print("Indices qui se croisent:", clubs[5:2])

Deborder par le haut: ['RC Suresnes', 'Stade Toulousain', 'Section Paloise']
Hors liste: []
Indices qui se croisent: []

In [32]:
# slices sur un texte
club1[:7]

'Castres'

In [33]:
# TODO: trier en français, trier en majuscule
clubsTrieAlpha = sorted(clubs)
clubsTrieAlpha

['Castres Olympique',
 'Montpellier Hérault Rugby',
 'RC Suresnes',
 'Section Paloise',
 'Stade Toulousain',
 'US Carcassonne',
 'Union Bordeaux Bègles']

In [34]:
# Passage de paramètre de la fonction sorted:
# - clubs : paramètre par position
# - reverse=True: paramètre par keyword

clubsTrieAlphaDesc = sorted(clubs, reverse=True)
clubsTrieAlphaDesc

['Union Bordeaux Bègles',
 'US Carcassonne',
 'Stade Toulousain',
 'Section Paloise',
 'RC Suresnes',
 'Montpellier Hérault Rugby',
 'Castres Olympique']

In [35]:
# tri en place (inplace)
clubs.sort()
print(clubs)

['Castres Olympique', 'Montpellier Hérault Rugby', 'RC Suresnes', 'Section Paloise', 'Stade Toulousain', 'US Carcassonne', 'Union Bordeaux Bègles']

In [36]:
# tri avec un résultat dans une nouvelle liste
# avec option reverse=True pour tri décroissant
club_sorted_alpha = sorted(clubs, reverse=True)
club_sorted_alpha

['Union Bordeaux Bègles',
 'US Carcassonne',
 'Stade Toulousain',
 'Section Paloise',
 'RC Suresnes',
 'Montpellier Hérault Rugby',
 'Castres Olympique']

### 4.2 Boucles

In [37]:
# clubs : donnée à parcourir
# club : variable de parcours
print(len(clubs), "clubs :")
for club in clubs:
    print("- Club:", club)
    print("\t nom minuscule:", club.lower())
    print("\t nom majuscule:", club.upper())

7 clubs :
- Club: Castres Olympique
	 nom minuscule: castres olympique
	 nom majuscule: CASTRES OLYMPIQUE
- Club: Montpellier Hérault Rugby
	 nom minuscule: montpellier hérault rugby
	 nom majuscule: MONTPELLIER HÉRAULT RUGBY
- Club: RC Suresnes
	 nom minuscule: rc suresnes
	 nom majuscule: RC SURESNES
- Club: Section Paloise
	 nom minuscule: section paloise
	 nom majuscule: SECTION PALOISE
- Club: Stade Toulousain
	 nom minuscule: stade toulousain
	 nom majuscule: STADE TOULOUSAIN
- Club: US Carcassonne
	 nom minuscule: us carcassonne
	 nom majuscule: US CARCASSONNE
- Club: Union Bordeaux Bègles
	 nom minuscule: union bordeaux bègles
	 nom majuscule: UNION BORDEAUX BÈGLES

In [38]:
variable_vide = None

In [39]:
type(variable_vide)

NoneType

In [40]:
# None ne sait rien faire
#
# AttributeError: 'NoneType' object has no attribute 'sort'
# variable_vide.sort()

In [41]:
variable_vide is None

True

In [42]:
variable_vide is not None

False

### 4.3 Liste à 2 niveaux

In [43]:
liste_clubs_niveaux = [
 ['Union Bordeaux Bègles', 'TOP 14'],
 ['US Carcassonne', 'Pro D2'],
 ['Stade Toulousain', 'TOP 14'],
 ['Section Paloise', 'TOP 14'],
 ['RC Suresnes', 'Nationale'],
 ['Montpellier Hérault Rugby', 'TOP 14'],
 ['Castres Olympique', 'TOP 14']
]
liste_clubs_niveaux

[['Union Bordeaux Bègles', 'TOP 14'],
 ['US Carcassonne', 'Pro D2'],
 ['Stade Toulousain', 'TOP 14'],
 ['Section Paloise', 'TOP 14'],
 ['RC Suresnes', 'Nationale'],
 ['Montpellier Hérault Rugby', 'TOP 14'],
 ['Castres Olympique', 'TOP 14']]

In [44]:
for club in liste_clubs_niveaux:
    # print(club)
    print("Club :", club[0], " ; niveau :", club[1])

Club : Union Bordeaux Bègles  ; niveau : TOP 14
Club : US Carcassonne  ; niveau : Pro D2
Club : Stade Toulousain  ; niveau : TOP 14
Club : Section Paloise  ; niveau : TOP 14
Club : RC Suresnes  ; niveau : Nationale
Club : Montpellier Hérault Rugby  ; niveau : TOP 14
Club : Castres Olympique  ; niveau : TOP 14

In [45]:
# parcours avec 2 variables de parcours car 2 valeurs dans chaque sous-liste
for nom, niveau in liste_clubs_niveaux:
    # print(club)
    print("Club :", nom, " ; niveau :", niveau)

Club : Union Bordeaux Bègles  ; niveau : TOP 14
Club : US Carcassonne  ; niveau : Pro D2
Club : Stade Toulousain  ; niveau : TOP 14
Club : Section Paloise  ; niveau : TOP 14
Club : RC Suresnes  ; niveau : Nationale
Club : Montpellier Hérault Rugby  ; niveau : TOP 14
Club : Castres Olympique  ; niveau : TOP 14

In [46]:
# Extraire les clubs de niveau TOP 14
clubs_top14 = []
for nom, niveau in liste_clubs_niveaux:
    if niveau == 'TOP 14':
        clubs_top14.append(nom)
    # end if
# end for
clubs_top14

['Union Bordeaux Bègles',
 'Stade Toulousain',
 'Section Paloise',
 'Montpellier Hérault Rugby',
 'Castres Olympique']

In [47]:
for club in clubs_top14:
    if club.startswith('S'):
        print("Club commençant par un 'S' :", club)

Club commençant par un 'S' : Stade Toulousain
Club commençant par un 'S' : Section Paloise

In [48]:
liste_clubs_niveaux

[['Union Bordeaux Bègles', 'TOP 14'],
 ['US Carcassonne', 'Pro D2'],
 ['Stade Toulousain', 'TOP 14'],
 ['Section Paloise', 'TOP 14'],
 ['RC Suresnes', 'Nationale'],
 ['Montpellier Hérault Rugby', 'TOP 14'],
 ['Castres Olympique', 'TOP 14']]

In [49]:
for nom, niveau in liste_clubs_niveaux:
    if nom.startswith('U') and niveau == 'TOP 14':
        print("Club du Top 14 commençant par un 'U' :", nom, "(", niveau, ")")

Club du Top 14 commençant par un 'U' : Union Bordeaux Bègles ( TOP 14 )

In [50]:
for nom, niveau in liste_clubs_niveaux:
    if nom.startswith('U') or niveau == 'TOP 14':
        print("Club du Top 14 ou commençant par un 'U' :", nom, "(", niveau, ")")

Club du Top 14 ou commençant par un 'U' : Union Bordeaux Bègles ( TOP 14 )
Club du Top 14 ou commençant par un 'U' : US Carcassonne ( Pro D2 )
Club du Top 14 ou commençant par un 'U' : Stade Toulousain ( TOP 14 )
Club du Top 14 ou commençant par un 'U' : Section Paloise ( TOP 14 )
Club du Top 14 ou commençant par un 'U' : Montpellier Hérault Rugby ( TOP 14 )
Club du Top 14 ou commençant par un 'U' : Castres Olympique ( TOP 14 )

In [51]:
# NB:  python 3.10: if elif elif elif elif else => match case
for nom, niveau in liste_clubs_niveaux:
    if niveau == 'TOP 14':
        print("Niveau 1 :", nom)
    elif niveau == 'Pro D2':
        print("Niveau 2 :", nom)
    elif niveau == 'Nationale':
        print("Niveau 3 :", nom)
    elif niveau == 'Nationale 2':
        print("Niveau 3 :", nom)
    else:
        print("Autre niveau :", nom)

Niveau 1 : Union Bordeaux Bègles
Niveau 2 : US Carcassonne
Niveau 1 : Stade Toulousain
Niveau 1 : Section Paloise
Niveau 3 : RC Suresnes
Niveau 1 : Montpellier Hérault Rugby
Niveau 1 : Castres Olympique

In [52]:
# tri sur la 1re 'colonne'
liste_clubs_niveaux.sort()
liste_clubs_niveaux

[['Castres Olympique', 'TOP 14'],
 ['Montpellier Hérault Rugby', 'TOP 14'],
 ['RC Suresnes', 'Nationale'],
 ['Section Paloise', 'TOP 14'],
 ['Stade Toulousain', 'TOP 14'],
 ['US Carcassonne', 'Pro D2'],
 ['Union Bordeaux Bègles', 'TOP 14']]

In [53]:
liste_clubs_niveaux.sort(reverse=True)
liste_clubs_niveaux

[['Union Bordeaux Bègles', 'TOP 14'],
 ['US Carcassonne', 'Pro D2'],
 ['Stade Toulousain', 'TOP 14'],
 ['Section Paloise', 'TOP 14'],
 ['RC Suresnes', 'Nationale'],
 ['Montpellier Hérault Rugby', 'TOP 14'],
 ['Castres Olympique', 'TOP 14']]

In [54]:
# tri suivant la composante #1 puis la composante #0
liste_clubs_niveaux.sort(key=operator.itemgetter(1,0))
liste_clubs_niveaux

[['RC Suresnes', 'Nationale'],
 ['US Carcassonne', 'Pro D2'],
 ['Castres Olympique', 'TOP 14'],
 ['Montpellier Hérault Rugby', 'TOP 14'],
 ['Section Paloise', 'TOP 14'],
 ['Stade Toulousain', 'TOP 14'],
 ['Union Bordeaux Bègles', 'TOP 14']]

### 4.4 Tuples: tuple
structure iterable, indexée par position (1er: 0), **non modifiable**

In [63]:
club = ('Union Bordeaux Bègles', 63, 6)
club

('Union Bordeaux Bègles', 63, 6)

In [64]:
club[0]

'Union Bordeaux Bègles'

In [66]:
## TypeError: 'tuple' object does not support item assignment
#club[0] = 'UBB - Union Bordeaux Bègles'

In [70]:
# remplacement de l'ancien tuple par un nouveau
club = 'UBB - Union Bordeaux Bègles', 53, 5
club

('UBB - Union Bordeaux Bègles', 53, 5)

In [74]:
nom_club, points, rang = club
print(nom_club)
print(points)
print(rang)

UBB - Union Bordeaux Bègles
53
5

### 4.5 Dictionnaires: dict
structure de donnée organisée en couples (clé, valeur) i.e (key,value)

In [75]:
club_dict = { 
    'nom_club': 'UBB - Union Bordeaux Bègles',
    'points': 50,
    'rang': 5
}
club_dict

{'nom_club': 'UBB - Union Bordeaux Bègles', 'points': 50, 'rang': 5}

In [76]:
club_dict['nom_club']

'UBB - Union Bordeaux Bègles'

In [77]:
club_dict['points'] += 5
club_dict

{'nom_club': 'UBB - Union Bordeaux Bègles', 'points': 55, 'rang': 5}

## 5. tableaux DataFrame de Pandas

In [55]:
df_clubs = pd.DataFrame(liste_clubs_niveaux, columns=['Club', 'Niveau'])
df_clubs

                        Club     Niveau
0                RC Suresnes  Nationale
1             US Carcassonne     Pro D2
2          Castres Olympique     TOP 14
3  Montpellier Hérault Rugby     TOP 14
4            Section Paloise     TOP 14
5           Stade Toulousain     TOP 14
6      Union Bordeaux Bègles     TOP 14

In [56]:
# par défaut, le tri de pandas donne un nouveau dataframe
df_clubs.sort_values(by='Club')

                        Club     Niveau
2          Castres Olympique     TOP 14
3  Montpellier Hérault Rugby     TOP 14
0                RC Suresnes  Nationale
4            Section Paloise     TOP 14
5           Stade Toulousain     TOP 14
1             US Carcassonne     Pro D2
6      Union Bordeaux Bègles     TOP 14

In [57]:
# tri en place (inplace) analogue à celui de python
df_clubs.sort_values(by='Club', ascending=False, inplace=True)
df_clubs

                        Club     Niveau
6      Union Bordeaux Bègles     TOP 14
1             US Carcassonne     Pro D2
5           Stade Toulousain     TOP 14
4            Section Paloise     TOP 14
0                RC Suresnes  Nationale
3  Montpellier Hérault Rugby     TOP 14
2          Castres Olympique     TOP 14

In [58]:
df_clubs.sort_values(by=['Niveau','Club'], inplace=True)
df_clubs

                        Club     Niveau
0                RC Suresnes  Nationale
1             US Carcassonne     Pro D2
2          Castres Olympique     TOP 14
3  Montpellier Hérault Rugby     TOP 14
4            Section Paloise     TOP 14
5           Stade Toulousain     TOP 14
6      Union Bordeaux Bègles     TOP 14

In [59]:
# tri suivant le niveau (décroissant alphabétique) 
# puis par club (croissant alphabétique)
df_clubs.sort_values(by=['Niveau','Club'], ascending=[False,True], inplace=True)
df_clubs

                        Club     Niveau
2          Castres Olympique     TOP 14
3  Montpellier Hérault Rugby     TOP 14
4            Section Paloise     TOP 14
5           Stade Toulousain     TOP 14
6      Union Bordeaux Bègles     TOP 14
1             US Carcassonne     Pro D2
0                RC Suresnes  Nationale

In [60]:
df_clubs.Niveau

2       TOP 14
3       TOP 14
4       TOP 14
5       TOP 14
6       TOP 14
1       Pro D2
0    Nationale
Name: Niveau, dtype: object

In [61]:
df_clubs.Niveau == 'TOP 14'

2     True
3     True
4     True
5     True
6     True
1    False
0    False
Name: Niveau, dtype: bool

In [62]:
# clubs tels que le niveau du club est 'TOP 14'
df_clubs[df_clubs.Niveau == 'TOP 14']

                        Club  Niveau
2          Castres Olympique  TOP 14
3  Montpellier Hérault Rugby  TOP 14
4            Section Paloise  TOP 14
5           Stade Toulousain  TOP 14
6      Union Bordeaux Bègles  TOP 14