# Classements Rugby analysés avec Pandas

In [1]:
import pandas as pd
import numpy as np
import json

## 1. Lire, importer des données
source de données: csv, excel, json, xml, base de données SQL, ...

Fonctions: pd.read_csv, pd.read_execl, pd.read_json, ...

In [2]:
# pd.read_csv('C:\\Users\\Matthias\\Documents\\Formations\\Python\\Stage202302_R\\classements_3niveaux.csv')
# pd.read_csv('C:/Users/Matthias/Documents/Formations/Python/Stage202302_R/classements_3niveaux.csv')
dfClassements = pd.read_csv('classements_3niveaux.csv')
dfClassements

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14
2,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14
3,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14
4,5,Aviron Bayonnais,50,19,11,1,7,4.0,NaN,NaN,456,416,40,19,TOP 14
5,6,Union Bordeaux-Bègles,49,19,10,1,8,7.0,NaN,NaN,427,352,75,19,TOP 14
6,7,Racing 92,46,19,10,1,8,4.0,NaN,NaN,507,521,-14,19,TOP 14
7,8,RC Toulon,43,19,10,0,9,3.0,NaN,NaN,419,394,25,19,TOP 14
8,9,ASM Clermont,40,19,8,1,10,6.0,NaN,NaN,431,472,-41,19,TOP 14
9,10,Montpellier Hérault Rugby,39,19,8,0,11,7.0,NaN,NaN,440,435,5,19,TOP 14
10,11,Castres Olympique,32,19,7,1,11,2.0,NaN,NaN,374,490,-116,19,TOP 14
11,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14
12,13,USA Perpignan,30,19,7,0,12,2.0,NaN,NaN,329,530,-201,19,TOP 14
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14
14,1,Oyonnax Rugby,83,22,17,1,4,13.0,NaN,NaN,680,308,372,23,PRO D2
15,2,Stade Montois Rugby,60,22,13,0,9,8.0,NaN,NaN,522,469,53,23,PRO D2
16,3,FC Grenoble Rugby,59,21,13,3,5,4.0,NaN,NaN,419,397,22,23,PRO D2
17,4,SU Agen,58,22,11,1,10,12.0,NaN,NaN,462,396,66,23,PRO D2
18,5,Colomiers Rugby,57,22,13,0,9,5.0,NaN,NaN,489,474,15,23,PRO D2
19,6,Biarritz Olympique PB,55,22,11,2,9,7.0,NaN,NaN,530,468,62,23,PRO D2
20,7,Provence Rugby,52,22,10,3,9,6.0,NaN,NaN,476,441,35,23,PRO D2
21,8,RC Vannes,50,22,10,1,11,8.0,NaN,NaN,464,471,-7,23,PRO D2
22,9,USON Nevers,50,22,10,2,10,6.0,NaN,NaN,443,437,6,23,PRO D2
23,10,AS Béziers Hérault,47,22,9,1,12,9.0,NaN,NaN,498,497,1,23,PRO D2
24,11,Stade Aurillacois,47,21,11,0,10,3.0,NaN,NaN,402,471,-69,23,PRO D2
25,12,Rouen Normandie Rugby,44,22,10,0,12,4.0,NaN,NaN,411,524,-113,23,PRO D2
26,13,US Montalbanaise,37,22,8,1,13,5.0,NaN,NaN,489,554,-65,23,PRO D2
27,14,Soyaux-Angoulême XV,37,22,8,0,14,5.0,NaN,NaN,416,527,-111,23,PRO D2
28,15,US Carcassonne,36,22,7,1,14,6.0,NaN,NaN,375,486,-111,23,PRO D2
29,16,RC Massy Essonne,29,22,6,0,16,5.0,NaN,NaN,374,530,-156,23,PRO D2
30,1,US Dax Rugby,80,19,17,0,2,NaN,7.0,1.0,546,307,239,19,NATIONALE
31,2,Valence Romans Drome Rugby,65,19,12,1,6,NaN,6.0,5.0,455,279,176,19,NATIONALE
32,3,SC Albi,62,19,12,2,5,NaN,2.0,4.0,447,291,156,19,NATIONALE
33,4,Blagnac Sporting Club Rugby,60,19,12,2,5,NaN,2.0,2.0,401,357,44,19,NATIONALE
34,5,US Bressane,59,19,12,0,7,NaN,4.0,3.0,401,346,55,19,NATIONALE
35,6,CS Bourgoin Jallieu,55,19,11,1,7,NaN,2.0,3.0,436,399,37,19,NATIONALE
36,7,Stado Tarbes Pyrenees Rugby,54,19,10,1,8,NaN,2.0,6.0,445,388,57,19,NATIONALE
37,8,Stade Niçois,48,19,8,2,9,NaN,2.0,6.0,370,339,31,19,NATIONALE
38,8,RC Narbonne Mediterranee,48,19,9,1,9,NaN,3.0,3.0,450,440,10,19,NATIONALE
39,10,Stade Olympique Chamberien Rugby Savoie Mont-b...,43,19,8,0,11,NaN,1.0,6.0,390,375,15,19,NATIONALE
40,11,Rugby Club de Suresnes - Hauts De Seine,39,19,8,0,11,NaN,1.0,2.0,354,472,-118,19,NATIONALE
41,12,Rugby Club Hyeres Carqueiranne La Crau,34,19,6,0,13,NaN,1.0,5.0,339,430,-91,19,NATIONALE
42,13,Rennes Etudiants Club,23,19,3,0,16,NaN,1.0,6.0,220,431,-211,19,NATIONALE
43,14,Union Cognac / Saint Jean D'angely,9,19,0,0,19,NaN,0.0,5.0,288,688,-400,19,NATIONALE

## 2. Colonnes, calculs sur colonnes

In [3]:
# Accès à une colonne
# - avec l'opérateur []  NB: marche toujours
# - avec l'attribut si pas d'ambiguïté

# dfClassements.Pts
dfClassements['Pts']

0     63
1     55
2     53
3     52
4     50
5     49
6     46
7     43
8     40
9     39
10    32
11    32
12    30
13    26
14    83
15    60
16    59
17    58
18    57
19    55
20    52
21    50
22    50
23    47
24    47
25    44
26    37
27    37
28    36
29    29
30    80
31    65
32    62
33    60
34    59
35    55
36    54
37    48
38    48
39    43
40    39
41    34
42    23
43     9
Name: Pts, dtype: int64

In [4]:
# opération mathématique avec un scalaire : * 2,  + 3,  / 4, - 3,  **2 (carré) 

dfClassements.Pts * 2

0     126
1     110
2     106
3     104
4     100
5      98
6      92
7      86
8      80
9      78
10     64
11     64
12     60
13     52
14    166
15    120
16    118
17    116
18    114
19    110
20    104
21    100
22    100
23     94
24     94
25     88
26     74
27     74
28     72
29     58
30    160
31    130
32    124
33    120
34    118
35    110
36    108
37     96
38     96
39     86
40     78
41     68
42     46
43     18
Name: Pts, dtype: int64

In [5]:
dfClassements['PtsMoyen'] = dfClassements.Pts / dfClassements.J
dfClassements

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14,2.894737
2,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14,2.789474
3,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14,2.736842
4,5,Aviron Bayonnais,50,19,11,1,7,4.0,NaN,NaN,456,416,40,19,TOP 14,2.631579
5,6,Union Bordeaux-Bègles,49,19,10,1,8,7.0,NaN,NaN,427,352,75,19,TOP 14,2.578947
6,7,Racing 92,46,19,10,1,8,4.0,NaN,NaN,507,521,-14,19,TOP 14,2.421053
7,8,RC Toulon,43,19,10,0,9,3.0,NaN,NaN,419,394,25,19,TOP 14,2.263158
8,9,ASM Clermont,40,19,8,1,10,6.0,NaN,NaN,431,472,-41,19,TOP 14,2.105263
9,10,Montpellier Hérault Rugby,39,19,8,0,11,7.0,NaN,NaN,440,435,5,19,TOP 14,2.052632
10,11,Castres Olympique,32,19,7,1,11,2.0,NaN,NaN,374,490,-116,19,TOP 14,1.684211
11,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14,1.684211
12,13,USA Perpignan,30,19,7,0,12,2.0,NaN,NaN,329,530,-201,19,TOP 14,1.578947
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421
14,1,Oyonnax Rugby,83,22,17,1,4,13.0,NaN,NaN,680,308,372,23,PRO D2,3.772727
15,2,Stade Montois Rugby,60,22,13,0,9,8.0,NaN,NaN,522,469,53,23,PRO D2,2.727273
16,3,FC Grenoble Rugby,59,21,13,3,5,4.0,NaN,NaN,419,397,22,23,PRO D2,2.809524
17,4,SU Agen,58,22,11,1,10,12.0,NaN,NaN,462,396,66,23,PRO D2,2.636364
18,5,Colomiers Rugby,57,22,13,0,9,5.0,NaN,NaN,489,474,15,23,PRO D2,2.590909
19,6,Biarritz Olympique PB,55,22,11,2,9,7.0,NaN,NaN,530,468,62,23,PRO D2,2.500000
20,7,Provence Rugby,52,22,10,3,9,6.0,NaN,NaN,476,441,35,23,PRO D2,2.363636
21,8,RC Vannes,50,22,10,1,11,8.0,NaN,NaN,464,471,-7,23,PRO D2,2.272727
22,9,USON Nevers,50,22,10,2,10,6.0,NaN,NaN,443,437,6,23,PRO D2,2.272727
23,10,AS Béziers Hérault,47,22,9,1,12,9.0,NaN,NaN,498,497,1,23,PRO D2,2.136364
24,11,Stade Aurillacois,47,21,11,0,10,3.0,NaN,NaN,402,471,-69,23,PRO D2,2.238095
25,12,Rouen Normandie Rugby,44,22,10,0,12,4.0,NaN,NaN,411,524,-113,23,PRO D2,2.000000
26,13,US Montalbanaise,37,22,8,1,13,5.0,NaN,NaN,489,554,-65,23,PRO D2,1.681818
27,14,Soyaux-Angoulême XV,37,22,8,0,14,5.0,NaN,NaN,416,527,-111,23,PRO D2,1.681818
28,15,US Carcassonne,36,22,7,1,14,6.0,NaN,NaN,375,486,-111,23,PRO D2,1.636364
29,16,RC Massy Essonne,29,22,6,0,16,5.0,NaN,NaN,374,530,-156,23,PRO D2,1.318182
30,1,US Dax Rugby,80,19,17,0,2,NaN,7.0,1.0,546,307,239,19,NATIONALE,4.210526
31,2,Valence Romans Drome Rugby,65,19,12,1,6,NaN,6.0,5.0,455,279,176,19,NATIONALE,3.421053
32,3,SC Albi,62,19,12,2,5,NaN,2.0,4.0,447,291,156,19,NATIONALE,3.263158
33,4,Blagnac Sporting Club Rugby,60,19,12,2,5,NaN,2.0,2.0,401,357,44,19,NATIONALE,3.157895
34,5,US Bressane,59,19,12,0,7,NaN,4.0,3.0,401,346,55,19,NATIONALE,3.105263
35,6,CS Bourgoin Jallieu,55,19,11,1,7,NaN,2.0,3.0,436,399,37,19,NATIONALE,2.894737
36,7,Stado Tarbes Pyrenees Rugby,54,19,10,1,8,NaN,2.0,6.0,445,388,57,19,NATIONALE,2.842105
37,8,Stade Niçois,48,19,8,2,9,NaN,2.0,6.0,370,339,31,19,NATIONALE,2.526316
38,8,RC Narbonne Mediterranee,48,19,9,1,9,NaN,3.0,3.0,450,440,10,19,NATIONALE,2.526316
39,10,Stade Olympique Chamberien Rugby Savoie Mont-b...,43,19,8,0,11,NaN,1.0,6.0,390,375,15,19,NATIONALE,2.263158
40,11,Rugby Club de Suresnes - Hauts De Seine,39,19,8,0,11,NaN,1.0,2.0,354,472,-118,19,NATIONALE,2.052632
41,12,Rugby Club Hyeres Carqueiranne La Crau,34,19,6,0,13,NaN,1.0,5.0,339,430,-91,19,NATIONALE,1.789474
42,13,Rennes Etudiants Club,23,19,3,0,16,NaN,1.0,6.0,220,431,-211,19,NATIONALE,1.210526
43,14,Union Cognac / Saint Jean D'angely,9,19,0,0,19,NaN,0.0,5.0,288,688,-400,19,NATIONALE,0.473684

In [6]:
dfClassements.PtsMoyen

0     3.315789
1     2.894737
2     2.789474
3     2.736842
4     2.631579
5     2.578947
6     2.421053
7     2.263158
8     2.105263
9     2.052632
10    1.684211
11    1.684211
12    1.578947
13    1.368421
14    3.772727
15    2.727273
16    2.809524
17    2.636364
18    2.590909
19    2.500000
20    2.363636
21    2.272727
22    2.272727
23    2.136364
24    2.238095
25    2.000000
26    1.681818
27    1.681818
28    1.636364
29    1.318182
30    4.210526
31    3.421053
32    3.263158
33    3.157895
34    3.105263
35    2.894737
36    2.842105
37    2.526316
38    2.526316
39    2.263158
40    2.052632
41    1.789474
42    1.210526
43    0.473684
Name: PtsMoyen, dtype: float64

## 3. Sauvegarde, exportation des données
On retrouve les mêmes formats qu'en entrée

Fonctions: .to_csv, .to_excel, .to_json, ....

In [7]:
# Sauver les données modifiées

dfClassements.to_csv('classements_3niveaux_enrichi.csv', index=False)

In [8]:
dfClassements.to_csv('classements_3niveaux_enrichi_FR.csv', sep=';', decimal=',', index=False)

## 4. Atelier: extractions, tris
- Extraire les clubs du TOP 14
- Trier les clubs du TOP 14 par Points Marqués (décroissant)

In [9]:
dfClassementTop14 = dfClassements[dfClassements.Niveau == 'TOP 14']
dfClassementTop14

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14,2.894737
2,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14,2.789474
3,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14,2.736842
4,5,Aviron Bayonnais,50,19,11,1,7,4.0,NaN,NaN,456,416,40,19,TOP 14,2.631579
5,6,Union Bordeaux-Bègles,49,19,10,1,8,7.0,NaN,NaN,427,352,75,19,TOP 14,2.578947
6,7,Racing 92,46,19,10,1,8,4.0,NaN,NaN,507,521,-14,19,TOP 14,2.421053
7,8,RC Toulon,43,19,10,0,9,3.0,NaN,NaN,419,394,25,19,TOP 14,2.263158
8,9,ASM Clermont,40,19,8,1,10,6.0,NaN,NaN,431,472,-41,19,TOP 14,2.105263
9,10,Montpellier Hérault Rugby,39,19,8,0,11,7.0,NaN,NaN,440,435,5,19,TOP 14,2.052632
10,11,Castres Olympique,32,19,7,1,11,2.0,NaN,NaN,374,490,-116,19,TOP 14,1.684211
11,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14,1.684211
12,13,USA Perpignan,30,19,7,0,12,2.0,NaN,NaN,329,530,-201,19,TOP 14,1.578947
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421

In [10]:
dfClassementTop14.sort_values(by='Pts.M', ascending=False).reset_index(drop=True)

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen
0,7,Racing 92,46,19,10,1,8,4.0,NaN,NaN,507,521,-14,19,TOP 14,2.421053
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14,2.894737
2,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14,2.736842
3,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14,2.789474
4,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789
5,5,Aviron Bayonnais,50,19,11,1,7,4.0,NaN,NaN,456,416,40,19,TOP 14,2.631579
6,10,Montpellier Hérault Rugby,39,19,8,0,11,7.0,NaN,NaN,440,435,5,19,TOP 14,2.052632
7,9,ASM Clermont,40,19,8,1,10,6.0,NaN,NaN,431,472,-41,19,TOP 14,2.105263
8,6,Union Bordeaux-Bègles,49,19,10,1,8,7.0,NaN,NaN,427,352,75,19,TOP 14,2.578947
9,8,RC Toulon,43,19,10,0,9,3.0,NaN,NaN,419,394,25,19,TOP 14,2.263158
10,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14,1.684211
11,11,Castres Olympique,32,19,7,1,11,2.0,NaN,NaN,374,490,-116,19,TOP 14,1.684211
12,13,USA Perpignan,30,19,7,0,12,2.0,NaN,NaN,329,530,-201,19,TOP 14,1.578947
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421

In [11]:
# tri suivant le nombre de match gagné, puis nombre de bonus, puis diff points
dfClassementTop14.sort_values(by=['G', 'Bonus', 'Diff'], ascending=[False, False, False])

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789
2,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14,2.789474
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14,2.894737
3,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14,2.736842
4,5,Aviron Bayonnais,50,19,11,1,7,4.0,NaN,NaN,456,416,40,19,TOP 14,2.631579
5,6,Union Bordeaux-Bègles,49,19,10,1,8,7.0,NaN,NaN,427,352,75,19,TOP 14,2.578947
6,7,Racing 92,46,19,10,1,8,4.0,NaN,NaN,507,521,-14,19,TOP 14,2.421053
7,8,RC Toulon,43,19,10,0,9,3.0,NaN,NaN,419,394,25,19,TOP 14,2.263158
9,10,Montpellier Hérault Rugby,39,19,8,0,11,7.0,NaN,NaN,440,435,5,19,TOP 14,2.052632
8,9,ASM Clermont,40,19,8,1,10,6.0,NaN,NaN,431,472,-41,19,TOP 14,2.105263
10,11,Castres Olympique,32,19,7,1,11,2.0,NaN,NaN,374,490,-116,19,TOP 14,1.684211
12,13,USA Perpignan,30,19,7,0,12,2.0,NaN,NaN,329,530,-201,19,TOP 14,1.578947
11,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14,1.684211
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421

## 5. Statistiques
- python : builtins (sum, min, max, ...), module statistics (mean, std, ...)
- pandas : intégrés au niveau colonne, dataframe
- numpy : stats de python + autres, plus performantes

In [12]:
# pourcentage de points marqués par rapport à l'équipe qui en a marqué le plus

In [13]:
print("Points marqués maximum :", max(dfClassementTop14['Pts.M']))
print("Points marqués maximum :", dfClassementTop14['Pts.M'].max())
print("Points marqués maximum :", np.max(dfClassementTop14['Pts.M']))

Points marqués maximum : 507
Points marqués maximum : 507
Points marqués maximum : 507

In [14]:
# TODO: remplacer dfClassementTop14['Pts.M.Pourcentage.Max'] en utilisant .loc
dfClassementTop14['Pts.M.Pourcentage.Max'] = dfClassementTop14['Pts.M'] / dfClassementTop14['Pts.M'].max() * 100
dfClassementTop14

C:\Users\Matthias\AppData\Local\Temp\ipykernel_22000\3025957817.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfClassementTop14['Pts.M.Pourcentage.Max'] = dfClassementTop14['Pts.M'] / dfClassementTop14['Pts.M'].max() * 100

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789,93.491124
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14,2.894737,96.844181
2,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14,2.789474,94.674556
3,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14,2.736842,94.871795
4,5,Aviron Bayonnais,50,19,11,1,7,4.0,NaN,NaN,456,416,40,19,TOP 14,2.631579,89.940828
5,6,Union Bordeaux-Bègles,49,19,10,1,8,7.0,NaN,NaN,427,352,75,19,TOP 14,2.578947,84.220907
6,7,Racing 92,46,19,10,1,8,4.0,NaN,NaN,507,521,-14,19,TOP 14,2.421053,100.000000
7,8,RC Toulon,43,19,10,0,9,3.0,NaN,NaN,419,394,25,19,TOP 14,2.263158,82.642998
8,9,ASM Clermont,40,19,8,1,10,6.0,NaN,NaN,431,472,-41,19,TOP 14,2.105263,85.009862
9,10,Montpellier Hérault Rugby,39,19,8,0,11,7.0,NaN,NaN,440,435,5,19,TOP 14,2.052632,86.785010
10,11,Castres Olympique,32,19,7,1,11,2.0,NaN,NaN,374,490,-116,19,TOP 14,1.684211,73.767258
11,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14,1.684211,81.656805
12,13,USA Perpignan,30,19,7,0,12,2.0,NaN,NaN,329,530,-201,19,TOP 14,1.578947,64.891519
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421,64.891519

In [15]:
dfClassementTop14.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rang                   14 non-null     int64
 1   Equipe                 14 non-null     object
 2   Pts                    14 non-null     int64
 3   J                      14 non-null     int64
 4   G                      14 non-null     int64
 5   N                      14 non-null     int64
 6   P                      14 non-null     int64
 7   Bonus                  14 non-null     float64
 8   BO                     0 non-null      float64
 9   BD                     0 non-null      float64
 10  Pts.M                  14 non-null     int64
 11  Pts.E                  14 non-null     int64
 12  Diff                   14 non-null     int64
 13  Journée                14 non-null     int64
 14  Niveau                 14 non-null     object
 15  PtsMoyen               14 non-null     float64
 16  Pts.M.Pourcentage.Max  14 non-null     float64
dtypes: float64(5), int64(10), object(2)
memory usage: 2.0+ KB

In [16]:
ptsMarquesPourcentage = 64.891519
print(ptsMarquesPourcentage)
print(f"{ptsMarquesPourcentage:.2f} %")    # formatted string, chaîne formattée/interpolée
print(f"{ptsMarquesPourcentage:.2%}")  # si on n'a pas fait la multiplication par 100

64.891519
64.89 %
6489.15%

***A suivre :*** formattage des données sur un colonne, appliquer un calcul sur une ou plusieurs colonnes

In [17]:
dfClassementTop14.style.format(
    # formatter= { 'Pts.M.Pourcentage.Max' : '{:.1%}' }, # si pourcentage calculé entre 0 et 1
    formatter= { 
        'Pts.M.Pourcentage.Max' : '{:.1f}%', # si pourcentage calculé entre 0 et 100
        'Bonus': '{:.0f}'
    }, 
    na_rep='', 
    precision=2, 
    decimal=','
)

## 6. Extractions: rappel + niveau avancé
### 6.1 Colonne(s)

In [18]:
# 1 colonne
dfClassementTop14['Pts.M.Pourcentage.Max']

0      93.491124
1      96.844181
2      94.674556
3      94.871795
4      89.940828
5      84.220907
6     100.000000
7      82.642998
8      85.009862
9      86.785010
10     73.767258
11     81.656805
12     64.891519
13     64.891519
Name: Pts.M.Pourcentage.Max, dtype: float64

In [19]:
dfClassementTop14.columns

Index(['Rang', 'Equipe', 'Pts', 'J', 'G', 'N', 'P', 'Bonus', 'BO', 'BD',
       'Pts.M', 'Pts.E', 'Diff', 'Journée', 'Niveau', 'PtsMoyen',
       'Pts.M.Pourcentage.Max'],
      dtype='object')

In [20]:
# plusieurs colonnes (liste de colonnes)
dfClassementTop14_simple = dfClassementTop14[['Rang', 'Equipe', 'Pts','Journée']]
dfClassementTop14_simple

    Rang                     Equipe  Pts  Journée
0      1           Stade Toulousain   63       19
1      2       Stade Français Paris   55       19
2      3                  LOU Rugby   53       19
3      4            Stade Rochelais   52       19
4      5           Aviron Bayonnais   50       19
5      6      Union Bordeaux-Bègles   49       19
6      7                  Racing 92   46       19
7      8                  RC Toulon   43       19
8      9               ASM Clermont   40       19
9     10  Montpellier Hérault Rugby   39       19
10    11          Castres Olympique   32       19
11    12            Section Paloise   32       19
12    13              USA Perpignan   30       19
13    14                   CA Brive   26       19

### 6.2 Lignes

In [21]:
# 1 ligne: Series
dfClassementTop14.loc[0] # value of index row

Rang                                    1
Equipe                   Stade Toulousain
Pts                                    63
J                                      19
G                                      13
N                                       1
P                                       5
Bonus                                 9.0
BO                                    NaN
BD                                    NaN
Pts.M                                 474
Pts.E                                 309
Diff                                  165
Journée                                19
Niveau                             TOP 14
PtsMoyen                         3.315789
Pts.M.Pourcentage.Max           93.491124
Name: 0, dtype: object

In [22]:
# plusieurs lignes avec un slice de valeurs (2 bornes incluses)
dfClassementTop14.loc[0:2]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789,93.491124
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14,2.894737,96.844181
2,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14,2.789474,94.674556

In [23]:
# plusieurs lignes avec liste de valeurs (d'index de ligne)
dfClassementTop14.loc[[0,3,13]]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789,93.491124
3,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14,2.736842,94.871795
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421,64.891519

In [24]:
# selection de ligne (avec prédicats)
dfClassementTop14[dfClassementTop14.Equipe == 'Section Paloise']

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
11,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14,1.684211,81.656805

In [25]:
dfClassementTop14[dfClassementTop14.Pts >= 50]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789,93.491124
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14,2.894737,96.844181
2,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14,2.789474,94.674556
3,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14,2.736842,94.871795
4,5,Aviron Bayonnais,50,19,11,1,7,4.0,NaN,NaN,456,416,40,19,TOP 14,2.631579,89.940828

In [26]:
3 in [ 1,3, 4, 7]

True

In [27]:
dfClassementTop14[dfClassementTop14.Equipe.isin(['Stade Toulousain', 'CA Brive', 'Section Paloise'])]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789,93.491124
11,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14,1.684211,81.656805
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421,64.891519

In [28]:
filtre_nom_equipe = dfClassementTop14.Equipe.isin(['Stade Toulousain', 'CA Brive', 'Section Paloise'])
filtre_nom_equipe

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13     True
Name: Equipe, dtype: bool

In [29]:
dfClassementTop14[filtre_nom_equipe]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789,93.491124
11,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14,1.684211,81.656805
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421,64.891519

In [30]:
club = 'CA Brive'
print(club.lower())
print(club.startswith('CA'))
print(club.endswith('s'))
print('Briv' in club)
print('briv' in club)

ca brive
True
False
True
False

In [31]:
filtre_nom_equipe = dfClassementTop14.Equipe.str.startswith('Stade')
dfClassementTop14[filtre_nom_equipe]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789,93.491124
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14,2.894737,96.844181
3,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14,2.736842,94.871795

In [32]:
dfClassementTop14[dfClassementTop14.Equipe.str.contains('briv', case=False)]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421,64.891519

In [33]:
# equipes avec plus de 45 points et moins de 6 points de bonus
# 2 conditions combinées lignes par lignes (elementwise operator)
#  and => &
#  or  => |
#  not => ~
dfClassementTop14[(dfClassementTop14.Pts >= 45) & (dfClassementTop14.Bonus <= 6)]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
2,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14,2.789474,94.674556
4,5,Aviron Bayonnais,50,19,11,1,7,4.0,NaN,NaN,456,416,40,19,TOP 14,2.631579,89.940828
6,7,Racing 92,46,19,10,1,8,4.0,NaN,NaN,507,521,-14,19,TOP 14,2.421053,100.000000

In [34]:
dfClassementTop14[(dfClassementTop14.Pts >= 45) | (dfClassementTop14.Bonus >= 6)]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen,Pts.M.Pourcentage.Max
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789,93.491124
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14,2.894737,96.844181
2,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14,2.789474,94.674556
3,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14,2.736842,94.871795
4,5,Aviron Bayonnais,50,19,11,1,7,4.0,NaN,NaN,456,416,40,19,TOP 14,2.631579,89.940828
5,6,Union Bordeaux-Bègles,49,19,10,1,8,7.0,NaN,NaN,427,352,75,19,TOP 14,2.578947,84.220907
6,7,Racing 92,46,19,10,1,8,4.0,NaN,NaN,507,521,-14,19,TOP 14,2.421053,100.000000
8,9,ASM Clermont,40,19,8,1,10,6.0,NaN,NaN,431,472,-41,19,TOP 14,2.105263,85.009862
9,10,Montpellier Hérault Rugby,39,19,8,0,11,7.0,NaN,NaN,440,435,5,19,TOP 14,2.052632,86.785010
11,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14,1.684211,81.656805
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421,64.891519

In [35]:
# lignes telles que le bonus est absent
dfClassements[dfClassements.Bonus.isna()]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen
30,1,US Dax Rugby,80,19,17,0,2,NaN,7.0,1.0,546,307,239,19,NATIONALE,4.210526
31,2,Valence Romans Drome Rugby,65,19,12,1,6,NaN,6.0,5.0,455,279,176,19,NATIONALE,3.421053
32,3,SC Albi,62,19,12,2,5,NaN,2.0,4.0,447,291,156,19,NATIONALE,3.263158
33,4,Blagnac Sporting Club Rugby,60,19,12,2,5,NaN,2.0,2.0,401,357,44,19,NATIONALE,3.157895
34,5,US Bressane,59,19,12,0,7,NaN,4.0,3.0,401,346,55,19,NATIONALE,3.105263
35,6,CS Bourgoin Jallieu,55,19,11,1,7,NaN,2.0,3.0,436,399,37,19,NATIONALE,2.894737
36,7,Stado Tarbes Pyrenees Rugby,54,19,10,1,8,NaN,2.0,6.0,445,388,57,19,NATIONALE,2.842105
37,8,Stade Niçois,48,19,8,2,9,NaN,2.0,6.0,370,339,31,19,NATIONALE,2.526316
38,8,RC Narbonne Mediterranee,48,19,9,1,9,NaN,3.0,3.0,450,440,10,19,NATIONALE,2.526316
39,10,Stade Olympique Chamberien Rugby Savoie Mont-b...,43,19,8,0,11,NaN,1.0,6.0,390,375,15,19,NATIONALE,2.263158
40,11,Rugby Club de Suresnes - Hauts De Seine,39,19,8,0,11,NaN,1.0,2.0,354,472,-118,19,NATIONALE,2.052632
41,12,Rugby Club Hyeres Carqueiranne La Crau,34,19,6,0,13,NaN,1.0,5.0,339,430,-91,19,NATIONALE,1.789474
42,13,Rennes Etudiants Club,23,19,3,0,16,NaN,1.0,6.0,220,431,-211,19,NATIONALE,1.210526
43,14,Union Cognac / Saint Jean D'angely,9,19,0,0,19,NaN,0.0,5.0,288,688,-400,19,NATIONALE,0.473684

In [36]:
# lignes telles que le bonus est présent
dfClassements[~dfClassements.Bonus.isna()]

,Rang,Equipe,Pts,J,G,N,P,Bonus,BO,BD,Pts.M,Pts.E,Diff,Journée,Niveau,PtsMoyen
0,1,Stade Toulousain,63,19,13,1,5,9.0,NaN,NaN,474,309,165,19,TOP 14,3.315789
1,2,Stade Français Paris,55,19,11,1,7,9.0,NaN,NaN,491,317,174,19,TOP 14,2.894737
2,3,LOU Rugby,53,19,12,0,7,5.0,NaN,NaN,480,432,48,19,TOP 14,2.789474
3,4,Stade Rochelais,52,19,11,0,8,8.0,NaN,NaN,481,362,119,19,TOP 14,2.736842
4,5,Aviron Bayonnais,50,19,11,1,7,4.0,NaN,NaN,456,416,40,19,TOP 14,2.631579
5,6,Union Bordeaux-Bègles,49,19,10,1,8,7.0,NaN,NaN,427,352,75,19,TOP 14,2.578947
6,7,Racing 92,46,19,10,1,8,4.0,NaN,NaN,507,521,-14,19,TOP 14,2.421053
7,8,RC Toulon,43,19,10,0,9,3.0,NaN,NaN,419,394,25,19,TOP 14,2.263158
8,9,ASM Clermont,40,19,8,1,10,6.0,NaN,NaN,431,472,-41,19,TOP 14,2.105263
9,10,Montpellier Hérault Rugby,39,19,8,0,11,7.0,NaN,NaN,440,435,5,19,TOP 14,2.052632
10,11,Castres Olympique,32,19,7,1,11,2.0,NaN,NaN,374,490,-116,19,TOP 14,1.684211
11,12,Section Paloise,32,19,6,1,12,6.0,NaN,NaN,414,497,-83,19,TOP 14,1.684211
12,13,USA Perpignan,30,19,7,0,12,2.0,NaN,NaN,329,530,-201,19,TOP 14,1.578947
13,14,CA Brive,26,19,5,0,14,6.0,NaN,NaN,329,525,-196,19,TOP 14,1.368421
14,1,Oyonnax Rugby,83,22,17,1,4,13.0,NaN,NaN,680,308,372,23,PRO D2,3.772727
15,2,Stade Montois Rugby,60,22,13,0,9,8.0,NaN,NaN,522,469,53,23,PRO D2,2.727273
16,3,FC Grenoble Rugby,59,21,13,3,5,4.0,NaN,NaN,419,397,22,23,PRO D2,2.809524
17,4,SU Agen,58,22,11,1,10,12.0,NaN,NaN,462,396,66,23,PRO D2,2.636364
18,5,Colomiers Rugby,57,22,13,0,9,5.0,NaN,NaN,489,474,15,23,PRO D2,2.590909
19,6,Biarritz Olympique PB,55,22,11,2,9,7.0,NaN,NaN,530,468,62,23,PRO D2,2.500000
20,7,Provence Rugby,52,22,10,3,9,6.0,NaN,NaN,476,441,35,23,PRO D2,2.363636
21,8,RC Vannes,50,22,10,1,11,8.0,NaN,NaN,464,471,-7,23,PRO D2,2.272727
22,9,USON Nevers,50,22,10,2,10,6.0,NaN,NaN,443,437,6,23,PRO D2,2.272727
23,10,AS Béziers Hérault,47,22,9,1,12,9.0,NaN,NaN,498,497,1,23,PRO D2,2.136364
24,11,Stade Aurillacois,47,21,11,0,10,3.0,NaN,NaN,402,471,-69,23,PRO D2,2.238095
25,12,Rouen Normandie Rugby,44,22,10,0,12,4.0,NaN,NaN,411,524,-113,23,PRO D2,2.000000
26,13,US Montalbanaise,37,22,8,1,13,5.0,NaN,NaN,489,554,-65,23,PRO D2,1.681818
27,14,Soyaux-Angoulême XV,37,22,8,0,14,5.0,NaN,NaN,416,527,-111,23,PRO D2,1.681818
28,15,US Carcassonne,36,22,7,1,14,6.0,NaN,NaN,375,486,-111,23,PRO D2,1.636364
29,16,RC Massy Essonne,29,22,6,0,16,5.0,NaN,NaN,374,530,-156,23,PRO D2,1.318182

**à suivre** calculer le bonus total pour les lignes où il est absent grâce au détail BO, BD

# Joueurs du TP 14
Encodage d'un fichier texte (python, csv, json, xml, txt)
- **UTF-8** : Unicode, universel 東京 🦜
- CP1252, ISO-8859-15, ISO-8859-1: Europe Occidentale

In [37]:
dfJoueursTop14 = pd.read_csv('data/joueursTop14.csv', encoding='UTF-8')
dfJoueursTop14

                     nom                   club  points
0          Segonds Joris         Stade Français     189
1         Hastoy Antoine            La Rochelle     188
2         Carbonel Louis            Montpellier     184
3           Russell Finn              Racing 92     178
4             Henry Zack                    Pau     158
5   Urdapilleta Benjamin                Castres     147
6             Berdeu Léo                    LOU     145
7      Jalibert Matthieu  Union Bordeaux Bègles     142
8         Tedder Tristan                   USAP     137
9         Germain Gaetan                Bayonne     133
10         Lopez Camille                Bayonne     124
11          Ramos Thomas       Stade Toulousain     123
12       Belleau Anthony               Clermont      97
13        Gibert Antoine              Racing 92      95
14         Plisson Jules               Clermont      94
15     Gailleton Émilien                    Pau       9
16         Tuisova Josua                    LOU       8
17       Dumortier Ethan                    LOU       8
18        Raka Alivereti               Clermont       8
19         Maddocks Jack                    Pau       7
20       Wainiqolo Jiuta                 Toulon       7
21     Niniashvili Davit                    LOU       7
22      Cordero Santiago  Union Bordeaux Bègles       7
23       Paia'aua Duncan                 Toulon       6
24       Meafou Emmanuel       Stade Toulousain       6
25        Ikpefan Daniel                    Pau       6
26        Gibert Antoine              Racing 92       6
27        Tedder Tristan                   USAP       6
28         Tambwe Madosh  Union Bordeaux Bègles       6
29    Klemenczak Olivier              Racing 92       5

In [38]:
dfJoueursTop14 = pd.read_csv('data/joueursTop14_bis.csv', encoding='CP1252')
dfJoueursTop14

                     nom                   club  points
0          Segonds Joris         Stade Français     189
1         Hastoy Antoine            La Rochelle     188
2         Carbonel Louis            Montpellier     184
3           Russell Finn              Racing 92     178
4             Henry Zack                    Pau     158
5   Urdapilleta Benjamin                Castres     147
6             Berdeu Léo                    LOU     145
7      Jalibert Matthieu  Union Bordeaux Bègles     142
8         Tedder Tristan                   USAP     137
9         Germain Gaetan                Bayonne     133
10         Lopez Camille                Bayonne     124
11          Ramos Thomas       Stade Toulousain     123
12       Belleau Anthony               Clermont      97
13        Gibert Antoine              Racing 92      95
14         Plisson Jules               Clermont      94
15     Gailleton Émilien                    Pau       9
16         Tuisova Josua                    LOU       8
17       Dumortier Ethan                    LOU       8
18        Raka Alivereti               Clermont       8
19         Maddocks Jack                    Pau       7
20       Wainiqolo Jiuta                 Toulon       7
21     Niniashvili Davit                    LOU       7
22      Cordero Santiago  Union Bordeaux Bègles       7
23       Paia'aua Duncan                 Toulon       6
24       Meafou Emmanuel       Stade Toulousain       6
25        Ikpefan Daniel                    Pau       6
26        Gibert Antoine              Racing 92       6
27        Tedder Tristan                   USAP       6
28         Tambwe Madosh  Union Bordeaux Bègles       6
29    Klemenczak Olivier              Racing 92       5

In [39]:
dfJoueursTop14 = pd.read_excel('data/joueursTop14.xlsx')
dfJoueursTop14

                     nom                   club  points
0          Segonds Joris         Stade Français     189
1         Hastoy Antoine            La Rochelle     188
2         Carbonel Louis            Montpellier     184
3           Russell Finn              Racing 92     178
4             Henry Zack                    Pau     158
5   Urdapilleta Benjamin                Castres     147
6             Berdeu Léo                    LOU     145
7      Jalibert Matthieu  Union Bordeaux Bègles     142
8         Tedder Tristan                   USAP     137
9         Germain Gaetan                Bayonne     133
10         Lopez Camille                Bayonne     124
11          Ramos Thomas       Stade Toulousain     123
12       Belleau Anthony               Clermont      97
13        Gibert Antoine              Racing 92      95
14         Plisson Jules               Clermont      94
15     Gailleton Émilien                    Pau       9
16         Tuisova Josua                    LOU       8
17       Dumortier Ethan                    LOU       8
18        Raka Alivereti               Clermont       8
19         Maddocks Jack                    Pau       7
20       Wainiqolo Jiuta                 Toulon       7
21     Niniashvili Davit                    LOU       7
22      Cordero Santiago  Union Bordeaux Bègles       7
23       Paia'aua Duncan                 Toulon       6
24       Meafou Emmanuel       Stade Toulousain       6
25        Ikpefan Daniel                    Pau       6
26        Gibert Antoine              Racing 92       6
27        Tedder Tristan                   USAP       6
28         Tambwe Madosh  Union Bordeaux Bègles       6
29    Klemenczak Olivier              Racing 92       5

In [40]:
dfJoueursTop14 = pd.read_excel('data/joueurs.xlsx', sheet_name='TOP14')
dfJoueursTop14

                     nom                   club  points
0          Segonds Joris         Stade Français     189
1         Hastoy Antoine            La Rochelle     188
2         Carbonel Louis            Montpellier     184
3           Russell Finn              Racing 92     178
4             Henry Zack                    Pau     158
5   Urdapilleta Benjamin                Castres     147
6             Berdeu Léo                    LOU     145
7      Jalibert Matthieu  Union Bordeaux Bègles     142
8         Tedder Tristan                   USAP     137
9         Germain Gaetan                Bayonne     133
10         Lopez Camille                Bayonne     124
11          Ramos Thomas       Stade Toulousain     123
12       Belleau Anthony               Clermont      97
13        Gibert Antoine              Racing 92      95
14         Plisson Jules               Clermont      94
15     Gailleton Émilien                    Pau       9
16         Tuisova Josua                    LOU       8
17       Dumortier Ethan                    LOU       8
18        Raka Alivereti               Clermont       8
19         Maddocks Jack                    Pau       7
20       Wainiqolo Jiuta                 Toulon       7
21     Niniashvili Davit                    LOU       7
22      Cordero Santiago  Union Bordeaux Bègles       7
23       Paia'aua Duncan                 Toulon       6
24       Meafou Emmanuel       Stade Toulousain       6
25        Ikpefan Daniel                    Pau       6
26        Gibert Antoine              Racing 92       6
27        Tedder Tristan                   USAP       6
28         Tambwe Madosh  Union Bordeaux Bègles       6
29    Klemenczak Olivier              Racing 92       5

In [41]:
dfJoueursTop14 = pd.read_excel('data/joueurs.xlsx', sheet_name=1)
dfJoueursTop14

                     nom                   club  points
0          Segonds Joris         Stade Français     189
1         Hastoy Antoine            La Rochelle     188
2         Carbonel Louis            Montpellier     184
3           Russell Finn              Racing 92     178
4             Henry Zack                    Pau     158
5   Urdapilleta Benjamin                Castres     147
6             Berdeu Léo                    LOU     145
7      Jalibert Matthieu  Union Bordeaux Bègles     142
8         Tedder Tristan                   USAP     137
9         Germain Gaetan                Bayonne     133
10         Lopez Camille                Bayonne     124
11          Ramos Thomas       Stade Toulousain     123
12       Belleau Anthony               Clermont      97
13        Gibert Antoine              Racing 92      95
14         Plisson Jules               Clermont      94
15     Gailleton Émilien                    Pau       9
16         Tuisova Josua                    LOU       8
17       Dumortier Ethan                    LOU       8
18        Raka Alivereti               Clermont       8
19         Maddocks Jack                    Pau       7
20       Wainiqolo Jiuta                 Toulon       7
21     Niniashvili Davit                    LOU       7
22      Cordero Santiago  Union Bordeaux Bègles       7
23       Paia'aua Duncan                 Toulon       6
24       Meafou Emmanuel       Stade Toulousain       6
25        Ikpefan Daniel                    Pau       6
26        Gibert Antoine              Racing 92       6
27        Tedder Tristan                   USAP       6
28         Tambwe Madosh  Union Bordeaux Bègles       6
29    Klemenczak Olivier              Racing 92       5

# Lecture de données JSON

In [42]:
# peu staisfaisant même avec le paramètre orient=?
# pd.read_json('data/Test import json.json')

In [43]:
f = open('data/Test import json.json')
data = json.load(f)
# data

In [44]:
data.keys()

dict_keys(['row_count', 'data_version', 'uuid_timeline', 'rows'])

In [45]:
lignes = data['rows']
# lignes

In [46]:
for ligne in lignes[:3]:
    print(ligne.keys())

dict_keys(['uuid_row', 'height', 'row_number', 'color', 'row_name', 'height_real', 'clips', 'deleted clips'])
dict_keys(['row_number', 'height', 'clips', 'height_real', 'deleted clips', 'row_name', 'color', 'uuid_row'])
dict_keys(['row_number', 'height', 'color', 'clips', 'row_name', 'uuid_row', 'deleted clips', 'height_real'])

In [47]:
# ligne #2 : touches adverses
ligne = lignes[2]
name = ligne['row_name']
print("Nom d'action:", name)
print(ligne.keys())
clips = ligne['clips']
# clips

Nom d'action: TOUCHE ADV
dict_keys(['row_number', 'height', 'color', 'clips', 'row_name', 'uuid_row', 'deleted clips', 'height_real'])

In [48]:
len(clips)

13

In [49]:
liste_actions = []
for touche in clips:
    for info in touche['qualifiers']['qualifiers_array']:
        if info['category'] == 'ZONES':
            zone = info['name']
        elif info['category'] == 'CONQUETE EFFICACITE':
            conquete_efficacite = info['name']
    # print("Zone:", zone)
    # print("Conquete efficacité:", conquete_efficacite)
    action = { 'zone': zone, 'conquete_effcicacite': conquete_efficacite }
    # print(action)
    liste_actions.append(action)
liste_actions

[{'zone': 'ZONE OLYMPIQUE', 'conquete_effcicacite': 'UTILISEES'},
 {'zone': 'ZONE CASTRES', 'conquete_effcicacite': 'UTILISEES'},
 {'zone': 'ZONE CASTRES', 'conquete_effcicacite': 'PERDUES'},
 {'zone': 'ZONE CASTRES', 'conquete_effcicacite': 'UTILISEES'},
 {'zone': 'ZONE FABRE', 'conquete_effcicacite': 'UTILISEES'},
 {'zone': 'ZONE FABRE', 'conquete_effcicacite': 'UTILISEES'},
 {'zone': 'ZONE OLYMPIQUE', 'conquete_effcicacite': 'UTILISEES'},
 {'zone': 'ZONE CASTRES', 'conquete_effcicacite': 'CONSERVEES'},
 {'zone': 'ZONE CASTRES', 'conquete_effcicacite': 'UTILISEES'},
 {'zone': 'ZONE OLYMPIQUE', 'conquete_effcicacite': 'UTILISEES'},
 {'zone': 'ZONE FABRE', 'conquete_effcicacite': 'PERDUES'},
 {'zone': 'ZONE OLYMPIQUE', 'conquete_effcicacite': 'CONSERVEES'},
 {'zone': 'ZONE CASTRES', 'conquete_effcicacite': 'UTILISEES'}]

In [50]:
dfTouchesAdverses = pd.DataFrame(liste_actions)
dfTouchesAdverses

              zone conquete_effcicacite
0   ZONE OLYMPIQUE            UTILISEES
1     ZONE CASTRES            UTILISEES
2     ZONE CASTRES              PERDUES
3     ZONE CASTRES            UTILISEES
4       ZONE FABRE            UTILISEES
5       ZONE FABRE            UTILISEES
6   ZONE OLYMPIQUE            UTILISEES
7     ZONE CASTRES           CONSERVEES
8     ZONE CASTRES            UTILISEES
9   ZONE OLYMPIQUE            UTILISEES
10      ZONE FABRE              PERDUES
11  ZONE OLYMPIQUE           CONSERVEES
12    ZONE CASTRES            UTILISEES